@import "tailwindcss";

body{
    background-image: url('https://images.unsplash.com/photo-1488952619802-0a3f502bab33?q=80&w=1969&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Reemplaza con tu URL de imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo, recortando si es necesario */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed;
}

.my-masonry-grid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -50px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div{
  margin-bottom: 30px;
}




